Repository sous-chefs/gpg: changes, and which lefthook commands are due for each by the changed paths.
All: cookstyle, yamllint, markdownlint

cookstyle:
  run: bundle exec cookstyle --fix {files}

yamllint:
  run: bundle exec yamllint {files}

markdownlint:
  run: bundle exec markdownlint-cli2 --fix {files}

feat: Add keyserver import support and fix integration tests (#82)
  .envrc
  .github/workflows/ci.yml
  .lefthook.yml
  .markdownlint-cli2.yaml
  .rubocop.yml
  .tool-versions
  .windsurf/rules/definition-of-done.md
  .yamllint
  CHANGELOG.md
  TESTING.md
  documentation/resource/key.md
  kitchen.dokken.yml
  kitchen.global.yml
  kitchen.yml
  libraries/helpers.rb
  mise.toml
  release-please-config.json
  resources/install.rb
  resources/key.rb
  test/fixtures/cookbooks/test/recipes/default.rb
  test/fixtures/cookbooks/test/recipes/test_delete.rb
  test/fixtures/cookbooks/test/recipes/test_export.rb
  test/fixtures/cookbooks/test/recipes/test_generate.rb
  test/fixtures/cookbooks/test/recipes/test_import.rb
  test/integration/default/inspec/default.rb
  test/integration/default/inspec/two_keys.rb
Due: cookstyle, yamllint, markdownlint

fix(ci): Perms
  .github/workflows/release.yml
Due: yamllint

chore(docs): Update TESTING.MD
  TESTING.md
Due: none

chore(docs): Update TESTING.MD (#96)
  TESTING.md
Due: none

fix(release): Add initial version to release-please config
  release-please-config.json
Due: none

fix(release): Revert to 2.0.15 and remove corrupted 2.0.16 release
  .release-please-manifest.json
  metadata.rb
  release-please-config.json
Due: none

Revert changelog type change
  release-please-config.json
Due: none

chore(main): release 2.1.0
  .release-please-manifest.json
  CHANGELOG.md
  metadata.rb
Due: none

chore(main): release 2.1.0 (#97)
  .release-please-manifest.json
  CHANGELOG.md
  metadata.rb
Due: none

fix(ci): Slack channel posting
  .github/workflows/release.yml
Due: yamllint

chore(main): release 2.1.1
  .release-please-manifest.json
  CHANGELOG.md
  metadata.rb
Due: none

chore(main): release 2.1.1 (#98)
  .release-please-manifest.json
  CHANGELOG.md
  metadata.rb
Due: none

chore(ci): Update release workflow
  .github/workflows/release.yml
Due: yamllint

chore(ci): Update release workflow (#100)
  .github/workflows/release.yml
Due: yamllint

ci: use sous-chefs workflows 8.0.1
  .github/workflows/ci.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/prevent-file-change.yml
  .github/workflows/release.yml
Due: yamllint

ci: use sous-chefs workflows 8.0.1 (#104)
  .github/workflows/ci.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/prevent-file-change.yml
  .github/workflows/release.yml
Due: yamllint

chore: migrate dependency resolution to Policyfile
  .github/workflows/copilot-setup-steps.yml
  .gitignore
  Berksfile
  Policyfile.rb
  chefignore
  libraries/helpers.rb
  resources/install.rb
  resources/key.rb
  spec/spec_helper.rb
Due: cookstyle, yamllint

fix: resolve lint failures
  documentation/resource/key.md
Due: markdownlint

fix: use yum-epel resource
  resources/install.rb
Due: cookstyle

fix: remove eol ubuntu integration target
  .github/workflows/ci.yml
  kitchen.dokken.yml
  kitchen.global.yml
Due: yamllint

chore: migrate dependency resolution to Policyfile (#106)
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .gitignore
  Berksfile
  Policyfile.rb
  chefignore
  documentation/resource/key.md
  kitchen.dokken.yml
  kitchen.global.yml
  libraries/helpers.rb
  resources/install.rb
  resources/key.rb
  spec/spec_helper.rb
Due: cookstyle, yamllint, markdownlint

ci: publish cookbooks as OCI artifacts
  .github/workflows/ci.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/prevent-file-change.yml
  .github/workflows/release.yml
Due: yamllint

Path conditions:
  cookstyle: any of: **/*.rb
  yamllint: any of: **/*.{yml,yaml}
  markdownlint: any of: **/*.md
